<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="../../assets/css/mui.css" />
		<link rel="stylesheet" href="../../assets/css/page/apply.css" />
	</head>
<!--
        	作者：2511801192@qq.com
        	时间：2017-11-27
        	描述：休假列表页
       -->
	<body>
		<header class="mui-bar mui-bar-nav title-page">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">休假列表</h1>
			<div id="addVacation" class="new" >
				<img src="../../assets/images/vacationletter/add.png" alt="" />
			</div>
		</header>
		<div class="mui-content"></div>
	</body>
	<script src="../../lib/mui.min.js"></script>
	<script src="../../lib/vue.min.js"></script>
	<script src="../../assets/js/config.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/page/vacationletter.js"></script>
	<script type="text/javascript">
		var id="vacationletter.html";
		//初始化内容页面
		mui.init(window.formattingDataUtil.subObj(id));
	     //休假申请成功刷新列表
		window.formattingDataUtil.refreshList(id);
		document.getElementById('addVacation').addEventListener('tap', function () {
				window.webviewUtil.show('vacationFill');
			});
		
	</script>

</html>