<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>加班填写</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../assets/css/mui.css" rel="stylesheet" />
		<link href="../../assets/css/page/vacationfill.css" rel="stylesheet" />
		<link href="../../assets/css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../assets/css/mui.picker.min.css" rel="stylesheet" />
		<style>
			.leaveId {
				display: none;
			}
		</style>
	</head>

	<body>
		<!--创建申请头部布局-->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">创建加班申请</h1>
		</header>
		<div class="mui-content main">
			<div class="vacation-fill-content">
				<ul>
					<li class="item" id="dummy">
						<label>加&nbsp;&nbsp;班&nbsp;人：</label><span id="username" style="padding-left: 5px;"></span>
						<span class="leaveId" id="leaveId"></span>
						<span class="leaveId" id="orgId"></span>
					</li>
					<li class="explain">
						<label>加班原因：</label>
						<div class="vacatro">
							<textarea id="explain" placeholder="请填写加班原因" maxlength="250" style="margin-bottom: 0;"></textarea>
						</div>
					</li>
					
					<li class="item" id="leavestart">
						<label>加班时间：</label><input id="start" placeholder="请选择加班时间" readonly="readonly" />
					</li>
					<li class="item" id="long">
						<label>加班时长：</label><input id="type" placeholder="请选择加班时长" readonly="readonly" />
						<span id="value" class="selectnum"></span>
					</li>

				</ul>
				<div id="commit" class="commit">
					<span>提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</span>
				</div>
				
			</div>
		</div>

		<script src="../../lib/mui.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../lib/moment.min.js"></script>
		<script src="../../lib/mui.poppicker.js"></script>
		<script src="../../lib/mui.picker.min.js"></script>
		<script src="../../assets/js/page/overtime.js"></script>
		<script>
			mui.plusReady(function() {
				overtimeFill.init();
			});
		</script>
	</body>