<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/page/approval.css" />
	</head>
<!--
	作者：2511801192@qq.com
	时间：2017-11-14
	描述：待办采购页面
-->
	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">待办事项详情</h1>
		</header>
		<div class="mui-content" id="approve-detail">
			<div class="mui-card">
				<div class="mui-card-header" id="taskName">采购信息</div>
				<div class="mui-row">
					<div class="mui-col-sm-6 mui-col-xs-6 list-content list-left">
						<div class="mui-table-view-cell">
							申请人：<span v-text="detailData.applicantName"></span>
						</div>
						<div class="mui-table-view-cell">
							申请项目：<span v-text="detailData.projectName"></span>
						</div>

					</div>
					<div class="mui-col-sm-6 mui-col-xs-6 list-content">
						<div class="mui-table-view-cell">
							所以机构：<span v-text="detailData.orgName"></span>
						</div>
						<div class="mui-table-view-cell">
							参考价格：<span v-text="detailData.purchaseMoney"></span>
						</div>

					</div>
					<div class="mui-col-sm-12 mui-col-xs-12 list-content">
						<div class="mui-table-view-cell">
							申请时间：<span v-text="detailData.createDate"></span>
						</div>
						<span id="auditStatus" class="disnone" v-text="detailData.auditStatus"></span>
					</div>

					<div class="mui-col-sm-12 mui-col-xs-12 list-content">
						<div class="mui-table-view-cell">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-collapse mui-active">
									<a  href="#" id="extra-style">采购明细</a>
									<div class="mui-collapse-content">
										<table width="100%" class="table">
											<tr>
												<td>序号</td>
												<td>物品类型</td>
												<td>物品</td>
												<td>物品参数</td>
												<td>数量</td>
												<td>是否编码</td>
											</tr>
											<tr v-for="(purchaseDetail,key) in otherData">
												<td>{{key+1}}</td>
												<td v-text="purchaseDetail.goodsType"></td>
												<td v-text="purchaseDetail.goodsName"></td>
												<td v-text="purchaseDetail.goodsParameter"></td>
												<td v-text="purchaseDetail.goodsNum"></td>
												<td v-text="purchaseDetail.isCode"></td>
											</tr>

										</table>
									</div>
								</li>
							</ul>
						</div>

					</div>
					<div class="mui-col-sm-12 mui-col-xs-12 list-content">
						<div class="mui-table-view-cell">
							采购原由：
							<p v-text="detailData.applyContent"></p>
						</div>
					</div>
				</div>
				<div class="mui-card-header" v-if="historyData!=null">审批记录</div>
				<div class="mui-row" id="approve-history" v-if="historyData!=null">
					<div class="mui-col-sm-3 mui-col-xs-4 left-record">
						流程阶段
					</div>
					<div class="mui-col-sm-9 mui-col-xs-8 left-record">
						审批结果
					</div>

					<div class="mui-col-sm-12 mui-col-xs-12 left-middle-record" v-for="showData in historyData">
						<div class="businessTable disnone" v-text="showData.businessTable"></div>
						<p>
							<span class="mui-col-sm-3 mui-col-xs-4 left-middle-record fl" v-text="showData.taskName"></span>
							<span class="mui-col-sm-9 mui-col-xs-8 left-middle-record fl"><span v-text="showData.orgName"></span><span v-text="showData.userName"></span>通过<span v-text="showData.disposeOpinion"></span><br/>{{showData.updateDate|moment}}</span>
						</p>

					</div>
				</div>
				<div class="mui-card-header">审批意见</div>
				<div class="mui-row">
					<div class="mui-card-content-inner">
						<textarea rows="6" cols="56" v-model="disposeOpinion"></textarea>
					</div>
				</div>
				<div class="mui-row btn" id="btn-group" v-if="detailData.auditStatus=='2'">
					<button class="mui-btn mui-btn-primary" data-status="1" v-bind:data-pid="detailData.id">同意</button>
					<button class="mui-btn mui-btn-primary" data-status="2" v-bind:data-pid="detailData.id">不同意</button>
				</div>
				<div class="mui-row btn" id="btn-group" v-else>
					<button class="mui-btn mui-btn-primary" data-status="1" v-bind:data-pid="detailData.id">已发放</button>
				</div>

			</div>
		</div>

		<script src="../../lib/mui.js"></script>
		<script src="../../lib/vue.min.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/page/schedule.js"></script>
		<script type="text/javascript">
			mui.plusReady(function() {
				window.formattingDataUtil.transmitTodo();//请求详情数据
			});
		</script>
	</body>

</html>