<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/page/apply.css" />
	</head>
<!--
	作者：2511801192@qq.com
	时间：2017-11-20
	描述：费用报销列表内容页
-->
	<body>
		<div class="mui-content " id="ul-list">
			<div class="mui-scroll">
				<ul class="mui-table-view" v-for="data in listInfo">
					<li class="mui-table-view-cell mui-media">
						<a class="show-content" v-bind:data-id="[data.id]" data-href="reimbursementDetail">
							<div class="mui-media-body mui-pull-left">
								<p class='mui-ellipsis'>申请人：<span v-text="data.applicantName"></span></p>
								<p class='mui-ellipsis ' v-if="data.appDate==undefined">申请时间:</p>
								<p class='mui-ellipsis ' v-else>申请时间：{{data.appDate|moment}}</p>
								<p class='mui-ellipsis '>申请状态：<span v-text="data.statusName"></span></p>
							</div>
							<div class="mui-media-body mui-pull-right">
								<div class="apply-info" v-if="data.exmRslt==1">已通过</div>
								<div class="apply-info" v-else-if="data.exmRslt==2">未通过</div>
								<div class="apply-info" v-else>审核中</div>
							</div>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<script src="../../lib/vue.min.js"></script>
		<script src="../../lib/mui.min.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../assets/js/page/reimbursement.js"></script>
		<script type="text/javascript">
		//费用报销列表下拉上拉刷新
			window.formattingDataUtil.pullRefreshList("reimbursement");
			mui.plusReady(function() {
				reimbursement.init();
			});
		</script>

	</body>

</html>