<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>通迅录</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.indexedlist.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/page/roster.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">通迅录</h1>
		</header>
		<div class="mui-content">
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<!--<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索机场">-->
				</div>
				<div class="mui-indexed-list-bar">
					<a>A</a>
					<a>B</a>
					<a>C</a>
					<a>D</a>
					<a>E</a>
					<a>F</a>
					<a>G</a>
					<a>H</a>
					<a>I</a>
					<a>J</a>
					<a>K</a>
					<a>L</a>
					<a>M</a>
					<a>N</a>
					<a>O</a>
					<a>P</a>
					<a>Q</a>
					<a>R</a>
					<a>S</a>
					<a>T</a>
					<a>U</a>
					<a>V</a>
					<a>W</a>
					<a>X</a>
					<a>Y</a>
					<a>Z</a>
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul class="mui-table-view">
						<li data-group="A" class="mui-table-view-divider mui-indexed-list-group">A</li>

						<li data-group="B" class="mui-table-view-divider mui-indexed-list-group">B</li>

						<li data-group="C" class="mui-table-view-divider mui-indexed-list-group">C</li>

						<li data-group="D" class="mui-table-view-divider mui-indexed-list-group">D</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>戴  亮</span> <span>视觉智作中心</span>
										<p class='mui-ellipsis'>职位：导 演</p>
										<p class='mui-ellipsis'>联系方式：18652993800</p>
										<p class='mui-ellipsis'>邮箱：dailiang@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<li data-group="E" class="mui-table-view-divider mui-indexed-list-group">E</li>

						<li data-group="F" class="mui-table-view-divider mui-indexed-list-group">F</li>

						<li data-group="G" class="mui-table-view-divider mui-indexed-list-group">G</li>

						<li data-group="H" class="mui-table-view-divider mui-indexed-list-group">H</li>

						<li data-group="I" class="mui-table-view-divider mui-indexed-list-group">I</li>
						<li data-group="J" class="mui-table-view-divider mui-indexed-list-group">J</li>

						<li data-group="k" class="mui-table-view-divider mui-indexed-list-group">k</li>

						<li data-group="L" class="mui-table-view-divider mui-indexed-list-group">L</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media liList">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>李明目 </span><span>总办</span>
										<p class='mui-ellipsis'>职位：总经理</p>
										<p class='mui-ellipsis'>联系方式：13951861688</p>
										<p class='mui-ellipsis'>邮箱:limingmu@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>林  森</span> <span>智能移动中心</span>
										<p class='mui-ellipsis'>职位：项目经理</p>
										<p class='mui-ellipsis'>联系方式：17751007028</p>
										<p class='mui-ellipsis'>邮箱:linsen@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<li data-group="M" class="mui-table-view-divider mui-indexed-list-group">M</li>
						<li data-group="N" class="mui-table-view-divider mui-indexed-list-group">N</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>牛昊岳 </span><span>总办</span>
										<p class='mui-ellipsis'>职位：副总</p>
										<p class='mui-ellipsis'>联系方式：18652010277</p>
										<p class='mui-ellipsis'>邮箱:niuhaoyue@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>倪海岩</span> <span>智能移动中心</span>
										<p class='mui-ellipsis'>职位：项目经理</p>
										<p class='mui-ellipsis'>联系方式：17751006896</p>
										<p class='mui-ellipsis'>邮箱：nihaiyan@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<li data-group="O" class="mui-table-view-divider mui-indexed-list-group">O</li>
						<li data-group="P" class="mui-table-view-divider mui-indexed-list-group">P</li>
						<li data-group="Q" class="mui-table-view-divider mui-indexed-list-group">Q</li>
						<li data-group="R" class="mui-table-view-divider mui-indexed-list-group">R</li>
						<li data-group="S" class="mui-table-view-divider mui-indexed-list-group">S</li>
						<li data-group="T" class="mui-table-view-divider mui-indexed-list-group">T</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img"></span>
									<div class="mui-media-body">
										<span>汤  婧 </span> <span>新媒体中心</span>
										<p class='mui-ellipsis'>职位：UI设计总监</p>
										<p class='mui-ellipsis'>联系方式：13913930077</p>
										<p class='mui-ellipsis'>邮箱：tangjing@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<li data-group="U" class="mui-table-view-divider mui-indexed-list-group">U</li>

						<li data-group="V" class="mui-table-view-divider mui-indexed-list-group">V</li>

						<li data-group="W" class="mui-table-view-divider mui-indexed-list-group">W</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>王天辰</span> <span>视觉智作中心</span>
										<p class='mui-ellipsis'>职位：导 演</p>
										<p class='mui-ellipsis'>联系方式：15651869578</p>
										<p class='mui-ellipsis'>邮箱：wangtianchen@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
						<li data-group="X" class="mui-table-view-divider mui-indexed-list-group">X</li>

						<li data-group="Y" class="mui-table-view-divider mui-indexed-list-group">Y</li>

						<li data-group="Z" class="mui-table-view-divider mui-indexed-list-group">Z</li>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<span class="mui-media-object mui-pull-left user-img" id="imgSpan"></span>
									<div class="mui-media-body">
										<span>祝沙军</span> <span>智能移动中心</span>
										<p class='mui-ellipsis'>职位：项目经理</p>
										<p class='mui-ellipsis'>联系方式：17751006693</p>
										<p class='mui-ellipsis'>邮箱:zhushajun@jsruiyin.com</p>
									</div>
								</a>
							</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../lib/mui.min.js"></script>
		<script src="../../assets/js/config.js"></script>
		<script src="../../assets/js/util.js"></script>
		<script src="../../lib/mui.indexedlist.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.ready(function() {
				var header = document.querySelector('header.mui-bar');
				var list = document.getElementById('list');
				//calc hieght
				list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
				//create
				window.indexedList = new mui.IndexedList(list);
			});
		</script>
	</body>

</html>