<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/mui.css" />
		<!--<link rel="stylesheet" type="text/css" href="../../assets/css/page/vacation.css" />-->
		<link rel="stylesheet" type="text/css" href="../../assets/css/page/detail.css" />
	</head>
	<body>
		<script src="../../lib/mui.js"></script>
		<script src="../../assets/js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../assets/js/util.js" type="text/javascript" charset="utf-8"></script>
		<!--	<script src="../../src/js/page/main_container.js"></script>-->
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">申请详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-header ">申请信息</div>
				<div class="mui-row">
					<div class="mui-col-sm-6 mui-col-xs-6 list-content list-left">
						<div class="mui-table-view-cell ">
							申请人：左五洲
						</div>
						<div class="mui-table-view-cell">
							开始时间：2017-10-01
						</div>
						<div class="mui-table-view-cell">
							休假类型：调休
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6 list-content">
						<div class="mui-table-view-cell">
							所在部门：智能移动中心
						</div>
						<div class="mui-table-view-cell">
							结束时间：2017-10-15
						</div>
						<div class="mui-table-view-cell">
							休假天数：1天
						</div>
					</div>
					<div class="mui-col-sm-12 list-content">
						<div class="mui-table-view-cell">
							休假原由：
							<p>江苏瑞银产业位于江苏省省会南京，是一家专注于金融电子设备及系统软件的研发、生产、销售和服务的高科技公司，经过全体瑞银人的不懈努力和用心经营，逐步发展成为提供系统化金融电子产品和整体解决方案的</p>
						</div>
					</div>
				</div>
				
				<div class="mui-card-header ">审批记录</div>
				<div class="mui-row">
					<div class="mui-col-sm-6 mui-col-xs-5 left-record">
						流程阶段
					</div>
					<div class="mui-col-sm-6 mui-col-xs-7 right-record">
						审批结果
					</div>
					<div class="mui-col-sm-6 mui-col-xs-5 left-middle-record">
						员工本人
					</div>
					<div class="mui-col-sm-6 mui-col-xs-7 right-middle-record">
						<p>智能移动中心 左五洲</p>
						<p>2017-01-01</p>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-5 left-bottom-record">
						员工上级
					</div>
					<div class="mui-col-sm-6 mui-col-xs-7 right-bottom-record">
						<p>通过</p>
						<p>智能移动中心 左五洲</p>
						<p> </p>
						<p>2017-01-01</p>
					</div>
				</div>	
			</div>
			
		</div>
	</body>
</html>